<h1>Estadísticas:</h1>
<br>
<p>Número de preguntas: <%= numberOfQuestions %></p>
<p>Número de comentarios totales: <%= numberOfComments %></p>
<p>Número medio de comentarios por pregunta: <%= commentsPerQuestion.toFixed(2) %></p>
<p>Número de preguntas sin comentarios: <%= questionsWithoutComments %></p>
<p>Número de preguntas con comentarios: <%= questionsWithComments %></p>